.acc{
    margin: 10px auto;
    height: 800px;
    overflow: hidden;

    h1{
        color: $black;
        font-size: 40px;
        text-align: center;
        margin-bottom: 60px;
        font-weight: 700;
    }

    &__box{
        width: 30vw;
        position: relative;
        margin-bottom: 20px;
        text-align: center; 
        margin-left: auto;   
        margin-right: auto; 

        &__label{
        font-size: 30px;
        position: relative;
        padding: 20px;
        color: white;
        background-color: $orange;
        cursor: pointer; 

            &::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                font-size: 25px;
            }
        }

    &__content {
        position: relative;
        overflow: hidden;
        background-color: #FBF8F8;
        max-height: 0;
        transition: 0.3s;

        &_1{
                
            display: flex;
            padding: 20px;
            height: 150px;
            
            p{
                
            color: $black;
            text-align: left;
            font-size: 20px;
            margin-left: 50px;
            line-height: 40px;
            }
        }
      }
    }
}