$bgcolor: #FFFEFE;
$black: #080606;
$orange: #FFC59E;
$brown: #C3B9B5;



%imageMain{
    width: 45vw; 
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}